<div class="card">
    <div class="seller-profile bg-profile rounded-top">
        <div class="seller d-flex align-items-center p-3">
            <div class="avatar"><img height="42" alt="" class="rounded-circle shadow-sm"
                    src="https://cdn.trumacc.vn/uploads/avatar/2023/06/e30ee5ef7f5bb98fbe2909ac5364c969.jpeg"></div>
            <div class="ps-2">
                <h4 class="group fs-14 mb-0"><span class="text-break name">tocchienstore</span> <span
                        class="text-muted">(tocchienstore)</span></h4> <a href="/shop/tocchienstore"
                    class="fs-13 pt-1 d-block">Xem cửa hàng</a>
            </div>
        </div>
        <div class="pt-0 p-3">
            <div class="seller-contacts">
                <h5 class="fs-13 text-secondary fw-normal small pb-1">
                    Kiểm tra liên hệ trước khi mua:
                </h5>
                <div class="row gx-3">
                    <div class="col-4">
                        <div class="seller-contact"><a href="https://www.facebook.com/tthdzkhoaito" target="_blank"
                                class="btn btn-light bg-white d-block btn-sm"><img height="20"
                                    src="https://cdn.hassbase.com/imgs/social-icon/facebook.png"></a></div>
                    </div>
                    <div class="col-4">
                        <div class="seller-contact"><a href="https://zalo.me/0816755002" target="_blank"
                                class="btn btn-light bg-white d-block btn-sm"><img height="20"
                                    src="https://cdn.hassbase.com/imgs/social-icon/zalo.png"></a></div>
                    </div>
                    <div class="col-4">
                        <div class="seller-contact"><a href="#" class="btn btn-light bg-white d-block btn-sm"><i
                                    height="20" class="fad fa-phone-plus text-primary"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="fs-13 description text-pre-wrap">acc champ</p>
        <div class="ta-account-info">
            <h5 class="mb-3 fw-normal fs-14 text-muted">Thông tin về tài khoản:</h5>
            <table class="table table-inverse">
                <tbody>
                    <tr>
                        <td>Tướng</td>
                        <td class="text-start"><strong>52</strong></td>
                    </tr>
                    <tr>
                        <td>Trang phục</td>
                        <td class="text-start"><strong>16</strong></td>
                    </tr>
                    <tr>
                        <td>Hạng</td>
                        <td class="text-start"><strong>Cao thủ</strong></td>
                    </tr>
                    <tr>
                        <td>Thông tin</td>
                        <td class="text-start"><strong>Trắng thông tin</strong></td>
                    </tr>
                    <tr>
                        <td>Đăng nhập</td>
                        <td class="text-start"><strong>Riotgames</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="let-checkout">
            <div class="ta-account-promo"><a href="" class="fs-14 text-primary fw-bold d-block mb-2">
                    Bấm để sử dụng mã khuyến mãi
                </a>
                <form action=""><!----></form>
            </div>
            <div class="checkout-summary my-2"><!---->
                <div class="summary">
                    <div class="fs-14 text-muted">Tổng thanh toán</div>
                    <div class="fw-bold fs-4"><span>
                            350,000đ
                        </span></div>
                </div>
            </div> <button class="btn btn-main fw-bold w-100">
                Mua tài khoản
            </button>
        </div>
    </div>
</div>